* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.contain {
  width: 1000px;
  margin: 0 auto;
}

.main-nav {
  height: 65px;
  background: #45108a;
  background: linear-gradient(141deg, #45108a 0%, #3d065f 100%);
}
.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.main-nav ul .logo_img {
  margin-top: 8px;
  height: 50px;
}
.main-nav ul li {
  align-items: center;
}
.main-nav ul li a {
  font-size: 24px;
  display: block;
  line-height: 65px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.main-nav ul li .info {
  margin-left: 150px;
}
.main-nav ul li a:hover {
  transform: scale(1.05);
  transition: 0.5s;
  color: gold;
}

.first_page {
  min-height: 570px;
}
.first_page .contain .first_page_block {
  display: flex;
  justify-content: space-between;
}
.first_page .contain .first_page_block .block_first {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.first_page .contain .first_page_block .block_first .text {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 90px;
}
.first_page .contain .first_page_block .block_first .button {
  margin-top: 50px;
  background-color: #4CAF50;
  border-radius: 20px;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  width: 150px;
  cursor: pointer;
}
.first_page .contain .first_page_block .block_first .button a {
  color: white;
  text-decoration: none;
}
.first_page .contain .first_page_block .block_first .button:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.about_project {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #45108a;
  background: linear-gradient(141deg, #45108a 0%, #3d065f 100%);
  min-height: 400px;
}
.about_project .contain {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.about_project .contain .about_project_title {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 60px;
}
.about_project .contain .about_project_text {
  margin-top: 70px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}
.about_project .contain .about_project_icon {
  margin: 40px auto;
}

.rules_project {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #45108a;
  background: linear-gradient(141deg, #45108a 0%, #3d065f 100%);
  min-height: 400px;
}
.rules_project .contain .rules_project_title {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 60px;
}
.rules_project .contain .rules_project_text {
  margin-top: 70px;
  color: white;
  display: flex;
  flex-direction: column;
}
.rules_project .contain .rules_project_text .number {
  font-size: 100px;
  margin-right: 200px;
}
.rules_project .contain .rules_project_text .text {
  font-size: 40px;
  font-weight: lighter;
}
.rules_project .contain .rules_project_text .first_block {
  display: flex;
  justify-content: space-between;
}
.rules_project .contain .rules_project_text .second_block {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.rules_project .contain .rules_project_icon img {
  display: block;
  margin: 30px auto;
}

.timer {
  padding-top: 50px;
  padding-bottom: 60px;
  min-height: 500px;
}
.timer .contain .timer_topic {
  color: black;
  text-align: center;
  font-size: 99px;
  font-weight: lighter;
}
.timer .contain .timer_clock {
  margin-top: 50px;
  display: flex;
  font-size: 40px;
  justify-content: space-around;
}
.timer .contain .timer_clock .number {
  font-size: 140px;
}
.timer .contain .timer_clock .text {
  text-transform: uppercase;
}
.timer .contain .timer_button {
  margin-top: 90px;
  margin-bottom: 30px;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 24px;
}
.timer .contain .timer_button .button_start {
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 70px;
  width: 170px;
  border: 2px solid white;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
.timer .contain .timer_button .button_start:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.timer .contain .timer_button .button_stop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 170px;
  border: 2px solid white;
  background-color: red;
  color: white;
  border-radius: 20px;
  margin-right: 250px;
  cursor: pointer;
}
.timer .contain .timer_button .button_stop:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
